<page-header></page-header>

<search
	search-term="ctrl.searchTerm">
</search>
Search term: {{ctrl.searchTerm}}

<div>
	<!-- ... -->
	<task-list
		tasks="ctrl.tasks"
		on-complete="ctrl.completeTask(task)"
		on-delete="ctrl.deleteTask(task)"
		on-save="ctrl.saveTask(newTask, oldTask)"
		on-toggle-edit-mode="ctrl.toggleEditMode(task)">
		<h4>{{ctrl.taskHeader}}</h4>
	</task-list>

	Visible: <input type="checkbox" ng-model="ctrl.visible">
	<summary 
		visible="ctrl.visible"
		language="ctrl.getLanguage()"
		on-calc="ctrl.calculateSmth()">
	</summary>
<div>